# 🔒 Игнорировать файл с секретами
.env

# 🧪 Игнорировать временные/кэш-файлы
node_modules/
dist/
build/

# 💻 Игнорировать системные файлы
.DS_Store
Thumbs.db

# ⚙️ Игнорировать логи и отладочные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 📦 Vercel, Netlify и другие CI/CD директории (по желанию)
.vercel/
.netlify/

